@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Oswald', sans-serif;
}

@layer components {
  table{
    border-collapse: separate;
    border-spacing: 0 15px;
    @apply px-0 cu1:px-4
  }
  tbody tr {
    @apply dark:bg-[#2e3241] bg-gray-100 text-sm md:text-2xl  text-center whitespace-nowrap ;
  }
  td {
    @apply p-1.5 cu1:p-3 ;
  }
  td:first-child {
    @apply rounded-s-lg;
  }
  td:last-child {
    @apply rounded-e-lg;
  }
  thead {
    @apply  text-xs cu2:text-2xl text-gray-400 text-center;
  }
  
}

.circle-svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
}
.progress-ring__circle {
  stroke-dasharray: 91 91;
  animation: countdown 60s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 91px;
  }
}
